.banner {
	background-image: url(../img/about-banner.jpg);
	text-align: center;
}

.banner .banner__subtitle {
	font-size: 1.75rem !important;
	margin-bottom: 1rem;
}

.banner .banner__subtitle ~ .banner__subtitle {
	margin-top: 1rem;
}

#free-trial {
	padding-top: 0.5rem;
	padding-bottom: 1.5rem;
}

#free-trial .title {
	font-size: 1.25rem;
	margin-bottom: 1.25rem;
}

.btn {
	max-width: 42rem;
	padding-bottom: 0.625rem;
	padding-top: 0.625rem;
	width: 100%;
}

#qualities {
	background-color: #fafafa;
	padding: 2rem 0px;
}

#qualities .container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reason {
	margin-bottom: 1.5rem;
}

.reason svg {
	height: 6.375rem;
}

.reason#vision svg {
	height: 4.375rem;
}

@media (min-width: 768px) {
	#qualities .container {
		align-items: flex-start;
		flex-flow: row wrap;
	}

	.reason {
		margin-bottom: 0px;
		width: calc(33.33% - 1rem);
	}

	.reason#vision svg {
		margin-top: 2rem;
	}
}
