.contact {
	align-items: center;
	background-color: rgba(2, 78, 80, 0.55);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding-bottom: 4.5rem;
	padding-top: 4.5rem;
	position: relative;
}

.contact::after {
	background-image: url(../img/members4.webp);
	background-position: top center;
	background-size: cover;
	content: '';
	filter: blur(2px);
	height: calc(100% + 0.5rem);
	left: 0;
	margin: -0.125rem;
	position: absolute;
	top: 0;
	width: calc(100% + 0.5rem);
	z-index: -1;
}

.contact .title {
	color: #eff4f5;
	font-size: 4rem;
	margin-bottom: 1.5rem;
	text-shadow: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.contact::after {
		background-image: url(../img/members4.jpg);
	}
}
