.header {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	margin-bottom: 2rem;
}

.container {
	padding-bottom: 6rem;
	padding-top: 4rem;
}

.text {
	color: #313538;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	margin: 3rem auto;
	max-width: 35.125rem;
	text-align: center;
}

.btn {
	max-width: 35.625rem;
	width: 100%;
}

@media (max-width: 768px) {
	.btn {
		font-size: 0.75rem !important;
	}
}
