.banner {
	background-image: url(../img/index-banner.jpg);
}

.btn {
	margin-top: 1.5625rem;
	margin-bottom: 1.5625rem;
}

.reasons .reasons-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 3rem 1rem;
}

.reasons .reason {
	margin-bottom: 1.5rem;
	width: 100%;
}

#what-we-do .bg {
	background-color: #fafafa;
}

#what-we-do .reasons-wrapper {
	padding-bottom: 1rem;
}

#what-we-do .reason svg {
	height: 5.625rem;
}

#what-we-do .reason__title {
	align-items: center;
	display: flex;
	font-size: 0.9375rem;
	justify-content: center;
	margin-bottom: 0.75rem;
	min-height: 3.1875rem;
}

#what-we-do .btn {
	margin-bottom: 0px;
}

.clients {
	padding-bottom: 2rem;
	padding-top: 1rem;
}

.clients .title {
	margin-bottom: 2rem;
}

@media (min-width: 576px) {
	.reasons .reason {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.reasons .reasons-wrapper {
		justify-content: space-between;
	}

	#why-choose .reason {
		width: calc(33.33% - 1rem);
	}

	#what-we-do .reason {
		width: calc(25% - 1rem);
	}
}
