.services {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.container {
	padding-bottom: 1rem;
	padding-top: 4rem;
}

.services .reason {
	margin-bottom: 1.5rem;
}

.services .reason .reason__title {
	align-items: center;
	display: flex;
	font-size: 1.125rem;
	justify-content: center;
	margin-bottom: 0.5rem;
	min-height: 2.5rem;
}

.services .reason svg {
	height: 7.5rem;
}

.services .reason .reason__description {
	max-width: 30rem;
}

#free-tier {
	margin-top: 1.5rem;
	order: 5;
}

@media (max-width: 768px) {
	#free-tier {
		font-size: 0.75rem;
	}
}

@media (min-width: 768px) {
	.services {
		flex-direction: row;
		justify-content: space-between;
	}

	.container {
		padding-bottom: 6rem;
	}

	#free-tier {
		margin-bottom: 3rem;
		margin-top: 3rem;
		order: 0;
	}

	.services .reason {
		margin-bottom: 0px;
		width: calc(50% - 1rem);
	}

	.services .reason .reason__description {
		max-width: none;
	}
}
