* {
	box-sizing: border-box;
	margin: 0px;
	outline: none;
	padding: 0px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #eff4f5;
}

body,
input,
button,
textarea {
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

section {
	padding: 2rem 0px;
}

.container {
	margin: auto;
	max-width: 992px;
	padding: 0px 0.75rem;
	width: 100%;
}

.btn {
	background-color: #ff9933;
	border: 0.125rem solid transparent;
	border-radius: 0.25rem;
	color: #fff;
	display: inline-flex;
	font-size: 1rem;
	font-weight: 500;
	padding: 1em 1.25em;
	text-shadow: 1px 1px 1px #232323;
	text-transform: uppercase;
	transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.btn:hover,
.btn:focus {
	background-color: transparent;
	border-color: #ff9933;
	color: #ff9933;
}

.title {
	color: #024e50;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2.375rem;
	font-weight: 400;
	margin-bottom: 2.5rem;
	margin-top: 0px;
	text-shadow: -0.03em -0.05em #ff9933;
	text-transform: uppercase;
}
