.banner {
	background-image: url(../../img/banner.jpg);
	background-position: center;
	background-size: cover;
	display: grid;
	min-height: 12.75rem;
}

.banner .banner__content {
	background-color: rgba(9, 62, 71, 0.625);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 1rem 0px;
	text-transform: uppercase;
}

.banner .banner__title {
	color: #ff9933;
	font-size: 1.4375rem;
	line-height: 1.5;
	margin-bottom: 1.375rem;
}

.banner .banner__subtitle {
	color: #fff;
	font-size: 1.375rem;
	line-height: 1.5;
}

@media (min-width: 768px) {
	.banner {
		min-height: 24.75rem;
	}

	.banner .banner__title {
		font-size: 2.25rem;
	}

	.banner .banner__subtitle {
		font-size: 2.15rem;
	}
}
