.clients .title:nth-of-type(2) {
	margin-bottom: 0px;
	margin-top: 1.5rem;
}

.clients .logos {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.clients a {
	display: flex;
	padding: 1rem;
	width: 11rem;
}

.clients a img {
	width: 100%;
}
