.footer {
	background-image: url(../../img/footer.jpg);
	background-position: center bottom;
	background-size: cover;
	color: #fff;
	overflow: hidden;
}

.footer .footer__content {
	background-color: rgba(9, 62, 71, 0.5);
	height: 100%;
	padding: 1rem;
	padding-bottom: 1rem;
}

.footer .container {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
}

.footer .footer__title {
	font-size: 1.25rem;
	text-transform: uppercase;
}

.footer .footer__address address {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25;
	margin: 0.875rem 0px;
}

.footer .footer__email {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin-top: 1rem;
}

.footer aside img {
	margin-bottom: -2rem;
}

@media (min-width: 576px) {
	.footer .container {
		align-items: flex-end;
		flex-direction: row;
	}
}

@media (min-width: 768px) {
	.footer .footer__content {
		padding: 2.5rem;
	}
}
