.footer {
	background-color: #024e50;
	color: #fff;
}

.footer .container {
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0.875rem;
	padding-bottom: 2rem;
}

.footer .mdi {
	font-size: 2.5rem;
}

.footer .footer__info .footer__info__text {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.375;
	margin-left: 0.5rem;
	margin-top: 0.875rem;
}

.footer .footer__info > div {
	display: flex;
}

.footer .footer__info > div + div {
	margin-top: 1rem;
}

.footer .footer__social-media {
	display: flex;
	margin-top: 1.5rem;
}

.footer .footer__social-media a {
	display: flex;
	padding: 0.25rem;
}

.footer .footer__bottom {
	border-top: 0.0625rem solid #fff;
	font-size: 0.625rem;
	font-weight: 400;
	padding: 1rem;
	text-align: center;
}

@media (min-width: 576px) {
	.footer .container {
		display: flex;
		padding: 2.25rem;
	}

	.footer .footer__info .footer__info__text {
		font-size: 1.125rem;
	}

	.footer .footer__social-media {
		margin-top: 0px;
	}

	.footer .footer__bottom {
		font-size: 1rem;
	}
}
