.header {
	padding: 2.5rem 1rem;
}

.header .container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
}

.header .header__navbar {
	color: #313538;
	margin-top: 1.5rem;
	text-align: center;
}

.header .header__nav {
	display: flex;
	flex-direction: column;
}

.header .header__nav li {
	display: flex;
	font-size: 0.9375rem;
	text-transform: uppercase;
}

.header .header__nav li a {
	padding: 1rem;
	transition: color 0.2s ease;
	width: 100%;
}

@media (min-width: 576px) {
	.header .header__nav {
		flex-direction: row;
	}
}

@media (min-width: 768px) {
	.header .container {
		flex-direction: row;
	}

	.header .header__navbar {
		margin-top: 0px;
	}

	.header .header__nav li a {
		padding: 0px 0.75rem;
	}

	.header .header__nav li:nth-child(even) a:hover {
		color: #17a3ba;
	}

	.header .header__nav li:nth-child(odd) a:hover {
		color: #ee5c0a;
	}
}
