.header {
	padding: 1rem;
}

.header .container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
}

.header .header__nav {
	display: none;
}

.header .header__nav li {
	color: #313538;
	display: flex;
	font-size: 0.9375rem;
	text-transform: uppercase;
}

.header .header__nav li a {
	padding: 0px 0.75rem;
}

@media (min-width: 768px) {
	.header .container {
		flex-direction: row;
	}

	.header .header__nav {
		display: flex;
	}
}
