.portfolio {
	margin-bottom: 1.5rem;
	position: relative;
}

.portfolio picture {
	display: flex;
}

.portfolio .portfolio__text {
	align-items: center;
	background-color: rgba(1, 61, 63, 0.6);
	color: #eff4f5;
	display: flex;
	font-size: 1.25rem;
	font-weight: 500;
	height: 100%;
	line-height: 1.25;
	opacity: 0;
	padding: 0.75rem;
	position: absolute;
	right: 50%;
	text-align: center;
	top: 0px;
	transform: translateX(50%);
	transition: opacity 0.2s ease;
	width: 100%;
}

.portfolio:hover .portfolio__text {
	opacity: 1;
}

.portfolio:hover img {
	filter: blur(1px);
}

.portfolio img {
	display: block;
	margin: auto;
	width: 100%;
}

.portfolio img,
.portfolio .portfolio__text {
	border-radius: 0.25rem;
	max-width: 22.5rem;
}

@media (min-width: 768px) {
	#portfolio ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.portfolio {
		width: calc(50% - 0.75rem);
	}

	.portfolio img {
		margin-left: auto;
		margin-right: 0px;
	}

	.portfolio .portfolio__text {
		right: 0;
		transform: none;
	}

	.portfolio:nth-child(even) img,
	.portfolio:nth-child(even) .portfolio__text {
		margin-left: 0px;
		margin-right: auto;
		left: 0;
	}
}
