.reason {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.reason svg {
	height: 3.875rem;
	width: 100%;
}

.reason svg path {
	fill: #f98e23;
}

.reason .reason__title {
	color: #f67d20;
	font-size: 1.25rem;
	margin-bottom: 0.375rem;
	margin-top: 0.75rem;
	text-transform: uppercase;
}

.reason.reason--variant svg path {
	fill: #093e47;
}

.reason.reason--variant .reason__title {
	color: #093e47;
}

.reason .reason__description {
	color: #313538;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.375;
	margin: 0px auto;
	margin-bottom: auto;
	max-width: 15rem;
}
