.services {
	text-align: center;
}

.services .services__list {
	color: #024e50;
	display: flex;
	flex-flow: row wrap;
}

.service {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
	padding: 1rem 2.5rem;
	width: calc(50% - 0.75rem);
}

.service .service__title {
	font-size: 1.25rem;
	font-weight: 600;
	margin: 1.5rem 0px;
	text-transform: uppercase;
}

.service .service__description {
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 2rem;
	max-width: 26.875rem;
}

.service img {
	height: 8.125rem;
}

.service .btn {
	font-size: 1.125rem;
	margin-top: auto;
}
